@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$f-ppal: 'Roboto';

$c-aqua: #00aecb;
$c-wh: #fff;
$c-blue: #257ea1;
$c-dark: #333;
$c-gray: #f0f0f0;
$c-gray2: #e7e7e7;
$c-1: #009486; // Verde
$c-2: #fecb2f; // Amarillo
$c-3: #ab1e37; // Rojo
$c-5: #f6f5f5; // Gris Claro
$c-6: #2791bb; // Azul
$c-7: #6d6e71; // Gris textos
$c-8: #ff5c39; // Orange